n8n-workflows/Indexar.json
{
  "name": "Indexar",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "basedeconhecimentovendas",
          "mode": "list",
          "cachedResultName": "basedeconhecimentovendas"
        },
        "embeddingBatchSize": 25,
        "options": {
          "pineconeNamespace": "{{ $('Edit Fields').item.json.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1152,
        0
      ],
      "id": "36eadbc1-10a2-4d28-a39d-546acb6b2ce2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "19hfRnUTed35gKis",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1248,
        224
      ],
      "id": "fd057d2b-e6a1-41d3-9ad8-d86387f1011b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1328,
        432
      ],
      "id": "75a7c3d1-ddd9-4343-83da-c6a04483ca8d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f362600-91d3-4548-9f3e-e3d1dd4eb976",
              "name": "folder_id",
              "value": "={{ $json.body.drive_folder_id }}",
              "type": "string"
            },
            {
              "id": "9902e3c0-1ce6-4bee-9918-9a08fd0d8061",
              "name": "namespace",
              "value": "={{ $json.body.namespace }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        176
      ],
      "id": "f0e27846-1a24-461d-8481-f405204620d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "32c8d9e2-9a76-4525-a0e3-fa5f66615ee1",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "MSnibsGPwcfCxHjm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"'\" + $('Edit Fields').item.json.folder_id + \"' in parents and (mimeType='application/pdf' or mimeType='application/vnd.openxmlformats-officedocument.wordprocessingml.document')\" }}",
        "limit": 5,
        "filter": {
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        176
      ],
      "id": "bacc827d-ccd3-49be-8047-851fc150a8d3",
      "name": "Search Books Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wf9lQuLiMm5bX5RV",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f47517cb-6d16-4562-b7ed-42f8e650baec",
      "name": "Download Each Book",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wf9lQuLiMm5bX5RV",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "id": "642ca565-5c23-43f0-90ec-f731fc46d8f5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "ca832d74-2626-42ba-9b04-fc346b687e4d",
      "name": "Wait Between Batches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1616,
        176
      ],
      "webhookId": "89d56a93-35db-403e-8c0d-63a9a1179f0c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "indexar",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        416
      ],
      "id": "8f45a7c3-20ed-4daa-be58-eaa810c51244",
      "name": "Webhook",
      "webhookId": "e6aaa96a-0357-4620-8756-c71d70ea7f44"
    },
    {
      "parameters": {
        "jsCode": "return [$input.all()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -100
      ],
      "id": "01b1ffd0-c5fb-4aae-a7ea-daa36e4588bd",
      "name": "Error Handler"
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search Books Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search Books Folder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Each Book": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download Each Book",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Wait Between Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Batches": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd5730e9-ecaf-4eb9-bfbf-f8d6b713c507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "942d6e5386a44be22fb63e301cd8d29ab8fa0f4012383a6f8f72689c394116ac"
  },
  "id": "RsEKkcVkS3VojQHq",
  "tags": []
}